<form novalidate #loginForm="ngForm" (ngSubmit)='login()'>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" [(ngModel)]='email' name='email' required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" [(ngModel)]='password' name='password' required>
  </div>
  <button type="submit" class="btn btn-default" [disabled]="!loginForm.form.valid">Submit</button>
</form>

<app-alert [showalert]='isNotValidData' [message]="'Email or password is not valid.'" [viewType]="'alert-danger'"
           (showalertChanged)='isNotValidData = $event'></app-alert>