<div class="page-header row">
  <h1><img src="http://placehold.it/50x50" class="img-circle">{{contact.name}}</h1>
</div>

<div class="form-horizontal">

  <div class="row">
    <div class="col-xs-6">
      <app-editor [(param)]='contact.name' title='Name' [isRequired]='true' (paramChange)="onSaved($event)"></app-editor>
      <app-editor [(param)]='contact.phone' title='Phone Number' (paramChange)="onSaved($event)"></app-editor>
      <app-editor [(param)]='contact.address' title='Address' (paramChange)="onSaved($event)"></app-editor>
    </div>
    <div class="col-xs-6">
      <app-editor [(param)]='contact.email' field='email' title='Email Address' [isEmail]='true' (paramChange)="onSaved($event)"></app-editor>
      <app-editor [(param)]='contact.website' title='Website' (paramChange)="onSaved($event)"></app-editor>
      <app-editor [(param)]='contact.notes' title='Notes' field='textarea' (paramChange)="onSaved($event)"></app-editor>
    </div>
  </div>

</div>

<app-alert [showalert]='showAlert' [message]="'The new data was saved successfully.'"
           (showalertChanged)='showAlert = $event'></app-alert>